{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="home-wrapper">
	<div class="home-cover-wrapper">
		<img class="home-cover" src="{{cover_url}}" alt="">
	</div>
	<div class="news-list-wrapper">
		<h1>News</h1>
		<div class="news-list">
			{% for news in news_sq %}
			<a class="home-list-item button-link" href="#!news/{{news.id}}/" alt="">
				<div class="news-item-date">
					{{news.create_log.created_at | todate}}
				</div>
				<div class="news-item-title">
					{{news.title}}
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}